.lang-body {
    background: #020b1c;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

/* GLOW */
.lang-body::before {
    content: "";
    position: absolute;
    width: 420px;
    height: 420px;
    background: radial-gradient(circle, #00d9ff33 0%, transparent 70%);
}

.subtitle {
    text-align: center;
    color: #a5b3c7;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 24px;
}

/* LANGUAGE OPTION */
.lang-option {
    width: 100%;
    height: 62px;
    border-radius: 18px;
    background: #07142e;
    border: 2px solid #182646;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    padding-left: 22px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.lang-option.active {
    border: 2px solid #4fd8ff;
    box-shadow: 0 0 18px #4fd8ff66;
}

.lang-option:hover {
    transform: scale(1.02);
}

/* BUTTON */
.continue-btn {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 18px;
    background: #56dfff;
    color: #00111f;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 0 20px #00d9ff88;
}

.continue-btn:hover {
    transform: scale(1.02);
}
